### Heroes Of Pymoli Data Analysis
* I was excited to work on this homework because I am super interested in game data. For this assignment I was interested in seeing what items people were buying. To take this data and reflect it onto a real game with more information, I would like to see why people bought certain items. For example, why was "Oathbreaker, Last Hope of the Breaking Storm" the most popular item? Is it extremely powerful, do people like the name? I hope to take this data and apply it to a real game. 

* For the analysis, it is interesting to note that the most popular sold items are mostly 3.50 to the max(4.99). These items are most likely significantly stronger than other items in the game. Since the developers want to make money, then it makes sense to have strong items be higher priced. People who want to compete in the game will therefore spend money on the game. It would be interesting to see what "Pursuit, Cudgel of Necromancy" does for the character, as it is much cheaper than the other popular items. Most likely, it is just a solid weapon that poeple don't mind spending a dollar on.

* The next interesting piece from this data is the age and price piece. I was expecting to see people later in life spending some more money on the game, since maybe they have a more stable job and therefore some disposable income. As the data shows, on average, the player in the 35 - 39 age group on average spent more on the game than other ages. While this is a neat statistic from the data, people in the 35 - 39 age group are among the lower percentage of players, so it could be blown out of proportion by a few players. 

* Finally, I'm surprised to see that the most someone spent on the game was 19.00. In a lot of micro transaction games, there are always those stories of people spending hundreds of dollars on a free game. To have the top spenders all be around the same amount is interesting to me. 
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [10]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file = "purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
purchase_data.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

## Player Count

* Display the total number of players

In [11]:
unique = len(purchase_data["SN"].unique())
summary_unique = pd.DataFrame({"Unique # of Player": [unique]})
summary_unique

   Unique # of Player
0                 576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [24]:
uniqueItems = len(purchase_data["Item Name"].unique())
uniquePrice = purchase_data["Price"].unique()
uniquePriceSum = uniquePrice.sum()
averagePrice = uniquePriceSum / uniqueItems
summaryStuff = pd.DataFrame({"Unique Items": [uniqueItems],
                             "Average Price": (averagePrice),
                             "Max Price": (purchase_data["Price"].max())})
summaryStuff.style.format({"Average Price": "${:,.2f}",
                           "Max Price": "${:,.2f}"})

# purchase_data["Item Name"].value_counts() will display the list of items from top to descending order

In [22]:
#purchase_data["Price"].max()

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [13]:
reducedData = purchase_data.groupby("Gender")
# grab a number for the unique values, as opposed to an object
players = reducedData["SN"].nunique()

percentage = players / players.sum() * 100.00
genderDemo = pd.DataFrame({"Total": players,
                           "Percentage": percentage.map("{:.2f}%".format)})
genderDemo

                       Total Percentage
Gender
Female                    81     14.06%
Male                     484     84.03%
Other / Non-Disclosed     11      1.91%

In [116]:
#print(reducedData)
#reducedData.count().head(10)


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [14]:
# sum up length of items
totalCount = reducedData["Item Name"].value_counts()
sumCount = totalCount.sum()
#sumCount
purchaseCount = reducedData["Purchase ID"].count()
purchaseCount
priceGender = reducedData["Price"].sum()
priceGender.head()
purchasingDF = pd.DataFrame({"Purchase Count": purchaseCount,
                             "Average Purchase Price": (priceGender/purchaseCount).map("${:,.2f}".format),
                             "Total Purchase Value": priceGender.map("${:,.2f}".format),
                             "Avg Per Person": (priceGender/players).map("${:,.2f}".format)})
purchasingDF

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [15]:
#binningted
#print(purchase_data["Age"].max())
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
binLabels = ["<10", "10-14", "15-19", "20-24", 
             "25-29", "30-34", "35-39", "40+"]
pd.cut(purchase_data["Age"], bins, labels = binLabels).head()

0    20-24
1      40+
2    20-24
3    20-24
4    20-24
Name: Age, dtype: category
Categories (8, object): [<10 < 10-14 < 15-19 < 20-24 < 25-29 < 30-34 < 35-39 < 40+]

In [16]:
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], bins, labels = binLabels)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [17]:
groupedAge = purchase_data.groupby("Age Group")
playersAge = groupedAge["SN"].nunique()

summaryAge = pd.DataFrame({"Unique Players": playersAge,
                          "Percentage": (playersAge / players.sum() * 100.00).map("{:.2f}%".format) })

summaryAge
#print(groupedAge([players]))

           Unique Players Percentage
Age Group
<10                    17      2.95%
10-14                  22      3.82%
15-19                 107     18.58%
20-24                 258     44.79%
25-29                  77     13.37%
30-34                  52      9.03%
35-39                  31      5.38%
40+                    12      2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [18]:
agePurchaseCount = groupedAge["Purchase ID"].count()
priceAge = groupedAge["Price"].sum()
#priceAge
purchasePrice = priceAge/agePurchaseCount 
#purchasePrice
analysisAge = pd.DataFrame({"Purchase Count by Age": agePurchaseCount,
                            "Average Purchase Price": purchasePrice.map("${:,.2f}".format),
                            "Total Purchase Value": priceAge.map("${:,.2f}".format),
                            "Average Total Per Person": (priceAge/playersAge).map("${:,.2f}".format)})
analysisAge

,Purchase Count by Age,Average Purchase Price,Total Purchase Value,Average Total Per Person
Age Group,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [19]:
# now looks like we will be grouping by SN
groupedSpenders = purchase_data.groupby("SN")
count = groupedSpenders["SN"].count()
totalPurchaseValue = groupedSpenders["Price"].sum()
frameSpenders = pd.DataFrame({"Purchase Count": count,
                              "Average Price Spent": totalPurchaseValue/count,
                              "Total Purchase Value": totalPurchaseValue})
sorTE = frameSpenders.sort_values(by=["Total Purchase Value"], ascending=False).head()
sorTE.style.format({"Total Purchase Value":"${:,.2f}",
                    "Average Price Spent": "${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [20]:
popular = purchase_data.groupby(["Item ID", "Item Name"])
#popular
itemCount = popular["Item ID"].count()
itemTotalPrice = popular["Price"].sum()
#itemCount = popular.set_index("Item ID")
itemDataFrame = pd.DataFrame({"Purchase Count": itemCount,
                              "Item Price": itemTotalPrice/itemCount,
                              "Total Purchase Value": itemTotalPrice})
itemSort = itemDataFrame.sort_values(by=["Purchase Count"], ascending=False).head()
itemSort.style.format({"Item Price": "${:,.2f}",
                       "Total Purchase Value": "${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [21]:
itemDataFrame = pd.DataFrame({"Purchase Count": itemCount,
                              "Item Price": itemTotalPrice/itemCount,
                              "Total Purchase Value": itemTotalPrice})
itemPopularSort = itemDataFrame.sort_values(by=["Total Purchase Value"], ascending=False).head()
itemPopularSort.style.format({"Item Price": "${:,.2f}",
                              "Total Purchase Value": "${:,.2f}"})